In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Series
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [3]:
# specify index when creating series
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A', 'Z', 'C', 'Y', 'E'])
s

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

In [4]:
# convert dictionary into Series datatype, using keys of dictionary as its index
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [5]:
# use index to select specific items
print cities['Chicago']
print "\n"
print cities[['Chicago', 'Austin', 'Portland']]

1000.0


Chicago     1000.0
Austin       450.0
Portland     900.0
dtype: float64

In [6]:
# use boolean indexing for selection
less_than_1000 = cities < 1000
print less_than_1000
print "\n"
print cities[less_than_1000]

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

In [7]:
# change values in a series on the fly
print ("Old value:", cities['Chicago'])
cities['Chicago'] = 1400
print ("New value:", cities['Chicago'])

('Old value:', 1000.0)
('New value:', 1400.0)

In [8]:
# change values using boolean logic
print cities[cities < 1000]
print "\n"
cities[cities < 1000] = 750
print cities[cities < 1000]

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

In [9]:
# check whether an item is in the Series
print 'Seattle' in cities
print 'San Francisco' in cities

False
True

In [10]:
# mathematical functions can be done using scalars and functions
cities / 3

Austin           250.000000
Boston                  NaN
Chicago          466.666667
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [11]:
np.sqrt(cities)

Austin           27.386128
Boston                 NaN
Chicago          37.416574
New York         36.055513
Portland         27.386128
San Francisco    33.166248
dtype: float64

In [12]:
# add two Series together
print cities[['Chicago', 'New York', 'Portland']]
print "\n"
print cities[['Austin', 'New York']]
print "\n"
print cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']]

Chicago     1400.0
New York    1300.0
Portland     750.0
dtype: float64


Austin       750.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [13]:
# null checking
print cities.notnull()
print "\n"
print cities.isnull()
print "\n"
print cities[cities.isnull()]

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool


Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64